body {
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr 200px;
  margin: 0;
}

main {
  margin: 2rem;
}

h2 {
  font-size: 3rem;
}

section img {
  display: block;
  max-width: 100%;
  height: auto;
}

section {
  display: grid;
  margin: 4rem 0;
}

article {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  padding-top: 3rem;
  margin-left: 2rem;
}

article > * {
  margin-top: 2rem;
}

article p {
  color: lightgrey;
}

@media only screen and (min-width: 850px) {
  section {
    grid-template-columns: 0.6fr 0.4fr;
  }
  section img {
    grid-column: 1 / span 1;
    width: 40vw;
  }
  section article {
    grid-column: 2 / -1;
  }
}

.on_sale .price {
  text-decoration: line-through;
}

.sale_price {
  font-size: 1.6rem;
  color: red;
}

.sold_out::before {
  content: "Sold Out";
  position: absolute;
  background-color: #272727;
  color: white;
  padding: 1rem;
  margin-top: 1rem;
}

.sold_out img {
  opacity: 0.5;
}

select {
  margin: 0 1rem;
  width: 10rem;
  font-size: 1rem;
}

button {
  margin-top: 3rem;
  background-color: #447ac9;
  color: white;
  padding: 1rem 3rem;
  border: none;
  border-radius: 10px;
  font-size: 1.5rem;
  cursor: pointer;
}

button:hover {
  color: black;
}
