body {
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr 200px;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
  margin: 2rem;
}

main ol {
  grid-column: 1/-1;
}

article img {
  display: block;
  max-width: 100%;
  height: auto;
}

article {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  padding: 1rem;
  border: 1px solid darkgray;
  border-radius: 15px;
  box-shadow: 0 5px 5px #666c7d;
}

article > h3 {
  font-weight: 400;
  color: #61605f;
}

article div {
  margin-top: auto;
}

article > * {
  margin-top: 0.6rem;
}

.price {
  color: #61605f;
  font-size: smaller;
}

.on_sale .price {
  text-decoration: line-through;
}

.sale_price {
  font-size: 1.4rem;
  color: #db3923;
}

.sold_out::before {
  content: "Sold Out";
  position: absolute;
  background-color: #272727;
  color: white;
  padding: 1rem;
  margin-top: 1rem;
}

.sold_out img {
  opacity: 0.5;
}
